{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="about">
    <h2>About</h2>
    <p>Chocolate Treats is a family business providing filled chocolate bars made from ethically sourced ingredients. It all started back in 2007 when we had a small market stall selling
        home made chocolate bars. A friend of ours suggested we set up an online shop and the rest is history. We like to involve our customers in the development of our new products
        so we hold regular tasting events where you can try our new bars! You can find out more about them here:</p>
        
        <a href="{% url 'events' %}" class="buttons">Check out our product tasting events!</a>        
    
</section>









{% endblock %}