{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="about">
    <h2>Privacy Policy</h2>
    <h3>Consent</h3>
    <p>By using our website, you consent to our Privacy Policy.</p>
    <p>We use your data to improve our business. By using
        this website, you agree to the collection and use of information in
        accordance with this policy.</p>
    <p>Usage data is data collected from the use of this website.</p>
    <p>Cookies are small files stored on your device.</p>
</section>










{% endblock %}