{% load static %}
{% url 'index' as index_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Chocolate Treats is an online store selling handmade chocolates.">
    <meta name="keywords" content="chocolate, handmade chocolate, chocolate boxes, chocolate bars">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Chocolate Treats</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lemon&display=swap" rel="stylesheet">

<!-- JavaScript -->

 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
 

    <!-- Font Awesome script -->

    <script src="https://kit.fontawesome.com/758be0af3f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
    <header>

        <!-- Logo -->

        <a href="index.html" class="logo">CHOCOLATE TREATS</a>
		
		 <!-- links -->
		<ul class="icons">
			<li><a href="shopping_bag.html"><i class="fa-solid fa-bag-shopping"></i></a></li>		
			<li><a href="login.html"><i class="fa-solid fa-user"></i></a></li>			    		
		    <li>
				<button onclick="menu()" class="menu_button" aria-label="Menu">
					<i class="fa fa-bars"></i>
				</button>
			</li>
			</ul>

        <!-- Menu  -->

        <nav>
            <ul id="list">              
                <li>
                    <a href="full_collection.html">Full Collection</a>
                </li>
                <li>
                    <a href="chocolate_boxes.html">Chocolate Boxes</a>
                </li>
                <li>
                    <a href="chocolate_bars">Chocolate Bars</a>
                </li>
				<li>
                    <a href="offers.html">Special Offers</a>
                </li>
            </ul>
        </nav>
		
		
			
		
    </header>
	
	

       
       <div class="menu_and_search">
	    <!-- Search -->
		<div class="search">
			
			<input type="search" id="search" name="search" placeholder="Enter a search term">
			<input type="submit" value="search">
		</div>
        <nav class="horizontal_menu">
            <ul>              
                <li>
                    <a href="full_collection.html">Full Collection</a>
                </li>
                <li>
                    <a href="chocolate_boxes.html">Chocolate Boxes</a>
                </li>
                <li>
                    <a href="chocolate_bars">Chocolate Bars</a>
                </li>
				<li>
                    <a href="offers.html">Special Offers</a>
                </li>
            </ul>
        </nav>
		</div>
		 <main>
		
            {% block content %} {% endblock content %}
    </main>

    
    <!-- Footer  -->

    <footer>
    <section class="footer">
    <div class="newsletter">
		<h2>Sign up to our Newsletter!</h2>
        <div class="subscribe">
			<input type="text" placeholder="Email address" name="email" id="subscribe" required>
			<input type="submit" value="Subscribe">
		</div>
	</div>
	<div class="social">
        <ul>
            <li><a href="https://facebook.com" target="_blank" rel="noopener"
                    aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li><a href="https://instagram.com" target="_blank" rel="noopener"
                    aria-label="Visit our Instagram page (opens in a new tab)"><i
                        class="fa-brands fa-instagram"></i></a></li>
        </ul>
	</div>
	
	<div class="links">
		<ul>
			<li><a href="full_collection.html">OUR CHOCOLATES</a></li>
			<li><a href="sitemap.html">SITEMAP</a></li>
			<li><a href="privacy.html">PRIVACY POLICY</a></li>
			<li><a href="contact.html">CONTACT US</a></li>
		</ul>
	</div>
    </section>
    <div class="info">
		<p>Chocolate Treats <i class="fa-regular fa-copyright"></i> 2024</p>
		<p>This site was made for assessment purposes and does not take orders.</p>
	</div>
    </footer>
    </div>
<script src="assets/js/script.js"></script>

</body>

</html>


