{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="product">
    <div class="product_image">
        <a href="{{ product.image.url }}" target="_blank">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>         
        <div class="information">
            <h2>{{ product.name }}</h2>
            <h3>{{ product.weight }}</h3>
            <h3>${{ product.price }}</h3>
        </div>
    </div>
    <div class="description">
        <p>{{ product.description }}</p>
        <h3>Ingredients</h3>
        <p>{{ product.ingredients }}</p>
        <h3>Nutritional Information</h3>
        <p>{{ product.nutrition }}</p>              
    </div>
    <div class="reviews">
        <h2>Reviews</h2>
        {% if review in reviews %}
        {% for review in reviews %}   
   
        <p>{{ review.name }}</p>
        <p>{{ review.review }}</p>
        {% endfor %}
        {% else %}
        <p>There are no reviews for this product yet.</p>
        {% if request.user.is_authenticated %}
        <h2>Write a review of this product</h2>      
        <form method="POST" action="" class="contact">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="text" name="name" aria-label="Enter your name" value="Enter your name">           
            <label for="message">Review:</label>
            <br>
            <textarea name="review" class="message" aria-label="Write your review" value="Write your review"></textarea>
            <input type="submit" name="save" class="buttons" aria-label="Post review" value="Post review">
          </form>
        {% else %} 
        <a href="{% url 'account_login' %}">Sign in to leave a review</a>
       
    </div>
    
</section> 
    
                    
                    

                    <form action="{% url 'add_to_bag' product.id %}" method="POST" class="quantity">
                        {% csrf_token %}
                        <div>
                       
                            <div>
                                <p><strong>Quantity:</strong></p>
                                <div>
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0 decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span>
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0 increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="buttons"  value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                         
                        </div>
                    </form>
                </div>
            
        
    
{% endblock %}


	
	


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}