{% extends "base.html" %}
{% load static %}
{% block content %}


<h2>Full Collection</h2>
<section class="collection">
{% for product in products %}
<div class="images">
	<a href="{{ product.product_url }}">
		<img src="{{ product.image }}" alt="{{ product.name }}">
		<h2>{{ product.name }}</h2>
		<h3>{{ product.weight }}</h3>
		<h3>{{ product.price }}</h3>
	</a> 
	{% if request.user.is_superuser %}
	<small class="ml-3">
		<a href="{% url 'edit_product' product.id %}">Edit</a> | 
		<a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
	</small>
{% endif %}
	</div>

{% endfor %}
</section>
        
       


	
	



{% endblock %}