{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="product">
    <div class="product_image">
        <img src="{{ product.image }}" alt="Chocolate raspberry bar">
        <div class="information">
            <h2>{{ product.name }}</h2>
            <h3>{{ product.weight }}</h3>
            <h3>{{ product.price }}</h3>
        </div>
    </div>
    <div class="description">
        <h3>{{ product.description }}</h3>
        <h3>Ingredients</h3>
        <p>{{ product.ingredients }}</p>
        <h3>Nutritional Information</h3>
        <p>{{ product.nutrition }}</p>        
    </div>
    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
        {% csrf_token %}
        <div>
            <div>
                <p><strong>Quantity:</strong></p>
                <div>
                    <div>
                        <input type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                    </div>
                </div>
            </div>

            <div>
                <a href="{% url 'products' %}">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span>Keep Shopping</span>
                </a>
                <input type="submit" value="Add to Bag">
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}">
        </div>
    </form>
</section>

	
	



{% endblock %}